<%- include("header") %>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
	  <%- include("menu") %>
	  
	  <%- include("sideBar") %>
	  
	  <div class="layui-body">
	    <!-- 内容主体区域 -->
	    <div>内容主体区域</div>
		<p><%= name%></p>
		<p><%= email%></p>
	    
	  </div>
	  
	 
	</div>
	
<%- include("footer") %>